<div class="row">
    <div class="col-4">
        <p>Athon Ensino Superior</p>
    </div>
    <div class="col-4">
        <p>Sorocaba/SP</p>
    </div>
    <div class="col-4">
        <p>Curso de Engenharia</p>
    </div>
</div>
