@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "_SemNavbar";
}

<p class="paragr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id lorem ullamcorper, fringilla tortor at, ultricies justo. Quisque accumsan id libero ac varius. Etiam vitae sapien at ante varius accumsan. Integer lacus massa, sodales eget sollicitudin et, cursus ut metus. Integer consectetur, lorem nec finibus porta, urna urna pulvinar magna, in aliquam ipsum sem ac tortor. Integer scelerisque lectus quis eros volutpat, quis rutrum lectus sagittis. Nunc tincidunt vulputate est id vulputate. Duis condimentum arcu sit amet urna ultricies, in rutrum eros pharetra. Suspendisse non cursus odio, ut varius odio.</p>


@await Html.PartialAsync("_RodapeEspecial")